.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
body{
    background-color: #e787bb; /* color en hex*/
}
 
p:before{
    content: attr(type);
    display: block;
    margin: 3px;
    font-size: 17px;
    color: #5c9fcc;
}
 
input{
    width: 280px;
    border: none;
    border-bottom: 2px solid #f301da;
    background: none;
}
/* con esto se quita la linea externa del input*/
input:focus{
    outline: none;
    border-bottom: 2px solid #5c9fcc;
}
 
h2{
    margin: 10px 2px;
    width: 180px;
    color: #5c9fcc;
    border-bottom: 3px solid;
}
form{
    padding: 30px 20px ;
    width: 300px;/* ancho*/
    height: 425px;/*alto*/
    background: #e6e6e6;
    border-radius: 10px;
    box-shadow: 5px 5px  #397196;
}

button{
    background: #e6e6e6;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    color: #5c9fcc;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid #f301da;
}

.copia-container{
    display: flex;
    justify-content: center;
    align-items: center;
}